{{ 'section-team-grid.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="team-grid-section section-{{ section.id }} section-{{ section.id }}-padding">
  <div class="page-width">
    <article class="gallery">
      {%- for block in section.blocks -%}
        {%- if block.settings.image != blank -%}
          {{
            block.settings.image
            | image_url: width: 400
            | image_tag:
              loading: 'lazy',
              widths: '200, 300, 400'
          }}
        {%- else -%}
          <img src="https://assets.codepen.io/1506195/unsplash-music-0.avif" alt="placeholder" />
        {%- endif -%}
      {%- endfor -%}
    </article>
  </div>
</section>

{% schema %}
{
  "name": "Team Grid",
  "tag": "section",
  "class": "section-team-grid",
  "settings": [
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "team_member",
      "name": "Team Member",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Photo"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Team Member"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title/Role",
          "default": "Position"
        },
        {
          "type": "richtext",
          "id": "bio",
          "label": "Bio (for lightbox)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Team Grid",
      "blocks": [
        { "type": "team_member" },
        { "type": "team_member" },
        { "type": "team_member" },
        { "type": "team_member" },
        { "type": "team_member" },
        { "type": "team_member" },
        { "type": "team_member" },
        { "type": "team_member" }
      ]
    }
  ]
}
{% endschema %}
